# Build products
temu
libtemu.a
build_filelist
splitimg
*.o
*.d

# macOS-specific
.DS_Store

# WebAssembly Outputs
js/riscvemu32-wasm.js
js/riscvemu32-wasm.wasm
js/riscvemu32.js
js/riscvemu64-wasm.js
js/riscvemu64-wasm.wasm
js/riscvemu64.js
